@model journalentry.Models.JournalEntryViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "JournalEntry", FormMethod.Post, new { @id="excelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row">
        @Html.LabelFor(model => model.excelFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6 offset-md-4">
           @Html.TextBoxFor(model => model.excelFile, new { @id="excelFile", type = "file", name = "excelFile" })
            @Html.ValidationMessageFor(model => model.excelFile, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-1">
                <input id="excelSubmit" type="submit" value="Create" class="btn green" />
            </div>
            <div class="col-md-9">
                <input id="excelReset" type="button" value="Reset" class="btn red-thunderbird" style="display:none;"/>
            </div>
        </div>

        }


<table id="editorTable" style="display:none;">
    <thead>
        <tr>
            <th>GL Number</th>
            <th>Journal Number</th>
            <th>Source</th>
            <th>Reference</th>
            <th>Model</th>
            <th>Date</th>
            <th>Control</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>GL Number</th>
            <th>Journal Number</th>
            <th>Source</th>
            <th>Reference</th>
            <th>Model</th>
            <th>Date</th>
            <th>Control</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Type</th>
        </tr>
    </tfoot>
</table>
