@model journalentry.Models.JournalEntryViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PageTitle")

@using (Html.BeginForm("Create", "JournalEntry", FormMethod.Post, new { @id="excelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row">
        @Html.Label("Please Select an Excel File", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6 offset-md-4">
           @Html.TextBoxFor(model => model.excelFile, new { @id="excelFile", type = "file", name = "excelFile" })
            @Html.ValidationMessageFor(model => model.excelFile, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-1">
                <input id="excelSubmit" type="submit" value="Create Table" class="btn green" />
            </div>
            <div class="col-md-9">
                <input id="excelReset" type="button" value="Reset Table" class="btn red-thunderbird" style="display:none;"/>
            </div>
        </div>

        }

<span id="pathPacman"></span>

<div class="j-editor-wrap">
    <table id="editorTable" class="display j-showTable" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>GL Number</th>
                <th>Journal Number</th>
                <th>Source</th>
                <th>Reference</th>
                <th>Model</th>
                <th>Date</th>
                <th>Control</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>GL Number</th>
                <th>Journal Number</th>
                <th>Source</th>
                <th>Reference</th>
                <th>Model</th>
                <th>Date</th>
                <th>Control</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Type</th>
            </tr>
        </tfoot>
    </table>
</div>