<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>Papé I.T. Services</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Styles.Render("http://10.99.99.49/BackPlane/assets/global/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("http://10.99.99.49/BackPlane/assets/global/css/plugins.css")
    @Styles.Render("http://10.99.99.49/BackPlane/assets/global/plugins/bootstrap/css/1_bootstrap.min.css")
    @Styles.Render("http://10.99.99.49/BackPlane/assets/global/css/components.css")
    @Styles.Render("http://10.99.99.49/BackPlane/assets/global/plugins/data-tables/DT_bootstrap.css")
    @Styles.Render("http://10.99.99.49/BackPlane/assets/admin/layout/css/layout2.css")
    @Styles.Render("http://10.99.99.49/BackPlane/assets/admin/layout/css/smoothness-jquery-ui.css")
    @Styles.Render("http://10.99.99.49/BackPlane/Content/general.css");

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.5.0/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/editor.dataTables.min.css" />

    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />


    @Html.Raw(User.Identity.GetFrameColor())
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed page-footer-fixed">

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Raw(User.Identity.GetFrameTopMenu())
    }

    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN VIEW CONTENT -->
        <div class="page-content-wrapper">
            <div id="mainContent" class="page-content" style="overflow:auto;">

                @RenderBody()
            </div>
        </div>
        <!-- END VIEW CONTENT -->
    </div>
    <!-- END CONTAINER -->


    @Html.Raw(User.Identity.GetFrameFooter())

    @Scripts.Render("http://10.99.99.49/backplane/bundles/jquery")
    @Scripts.Render("http://10.99.99.49/backplane/bundles/jqueryui")
    @Scripts.Render("http://10.99.99.49/Backplane/bundles/coreJS2")

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" src="/Scripts/dataTables.editor.min.js"></script>


    <script>

        //global object for submit and return
        var editor;

        $(function () {
            Metronic.init();
            Layout.init();

        $("#excelForm").submit(function (e) {
            e.preventDefault();
            $("#excelFile").val().length != 0 ? BuildTable() : alert("Please select a valid Excel file to upload.");
        });

        $("#excelReset").click(function () {
            $("#editorTable").DataTable().destroy();
            $("#editorTable, .j-editor-wrap").hide();
            $("#excelFile").val("");
        });

        editor = new $.fn.dataTable.Editor({
            table: "#editorTable",
            idSrc: "DT_RowId",
            fields: [{
                label: "GL Number:",
                name: "glNumber"
            }, {
                label: "Journal Number:",
                name: "journalNumber"
            }, {
                label: "Source:",
                name: "Source"
            }, {
                label: "Reference:",
                name: "Reference"
            }, {
                label: "Model:",
                name: "Model"
            }, {
                label: "Date:",
                name: "Date",
                type: "datetime"
            }, {
                label: "Control:",
                name: "Control"
            }, {
                label: "Account:",
                name: "Account"
            }, {
                label: "Amount:",
                name: "Amount"
            }, {
                label: "Type:",
                name: "Type"
            }
            ],
            /*formOptions: {
                inline: {
                    onBlur: "preSubmit"
                }
            }*/
        });

        function BuildTable() {
            var excelFile = new FormData();
            var myfile = $('#excelFile').prop('files')[0];
            excelFile.append('file', myfile);
            var url = '@Url.Action("CreateExcel", "JournalEntry")';
            showPacman('pathPacman');

            $.ajax({
                url: url,
                type: 'POST',
                data: excelFile,
                processData: false,
                contentType: false,
                success: function (response) {
                    killPacman();
                    $("#editorTable, #excelReset, .j-editor-wrap").show();
                    var finalData = $.parseJSON(response);
                    InitializeTable(finalData);
                    //ValidateTable();
                }
            });
        }

        function InitializeTable(finalData) {
            $("#editorTable").DataTable({
                dom: "Bfrtip",
                data: finalData.data,
                columns: [
                    {
                        data: "",
                        defaultContent: "",
                        className: "select-checkbox j-select-col",
                        orderable: false
                    },
                    { data: "glNumber" },
                    { data: "journalNumber" },
                    { data: "Source" },
                    { data: "Reference" },
                    { data: "Model" },
                    { data: "Date" },
                    { data: "Control" },
                    { data: "Account" },
                    { data: "Amount" },
                    { data: "Type" }
                ],
                order: [1, 'asc'],
                keys: {
                    columns: ':not(:first-child)',
                    editor: editor
                },
                select: {
                    style: 'os',
                    selector: 'td:first-child',
                    blurable: true
                },
                buttons: [
                    { extend: "create", editor: editor },
                    { extend: "edit", editor: editor },
                    { extend: "remove", editor: editor },
                    {
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    },
                    {
                    extend: "selectedSingle",
                    text: "Pre-Pass",
                    action: function (e, dt, node, config) {
                        editor
                            .edit(table.row({ selected: true }).index(), false)
                            .set('salary', (editor.get('salary') * 1) + 250)
                            .submit();
                    }
                }]
            });
        }

        // Activate an inline edit on click of a table cell
        $('#editorTable').on('click', 'tbody td:not(:first-child)', function (e) {
            var index = editor.inline(this._DT_CellIndex);
            var action = 'edit';
            var url = '@Url.Action("CreateExcel", "JournalEntry")?action=' + action + '&index=' + index;

            editor.inline(table.cell(this).index(), {
                onBlur: $.getJSON(url, display)
            });

        });

    });

    </script>

    @RenderSection("Scripts", false)
</body>
</html>